.info__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 62px;
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--cl-dark-white);
}

.info__avatar {
  width: 70px;
  height: 70px;
}

.avatar__customer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.info__name {
  color: var(--cl-secondary);
  font-size: var(--fs-xx-lg);
  font-weight: var(--fw-lg);
  margin-top: 16px;
  margin-bottom: 8px;
}

.info__job {
  color: var(--cl-dark-gray);
  font-size: var(--fs-sm);
  font-weight: var(--fw-sm);
}
